{% extends model('component') %}

{% define config = {
    name: 'logo',
    renderAttributes: false
} %}

{% define data = {
    url: path('home')
} %}

{% define attributes = {
    src: null,
    alt: 'Logo'
} %}

{# width="474.000000pt" height="526.000000pt" viewBox="0 0 474.000000 526.000000" preserveAspectRatio="xMidYMid meet" #}
{% block body %}
    <a href="{{ data.url }}" class="{{ config.name }}__link">
        <span class="grid grid--middle">
            {% if attributes.src is empty %}
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="170.000000pt" height="170.000000pt" viewBox="0 0 474.000000 526.000000" class="is-hidden-sm-md">
                <g transform="translate(0.000000,526.000000) scale(0.100000,-0.100000)"
                fill="#000000" stroke="none">
                <path d="M2759 4216 c-2 -2 -56 -9 -119 -16 -63 -7 -119 -16 -125 -20 -5 -4 -29 -11 -52 -15 -24 -4 -45 -10 -48 -15 -3 -4 -21 -11 -40 -14 -62 -12 -225 -103 -325 -181 -32 -25 -159 -152 -185 -185 -173 -218 -271 - 30 -251 -796 1 -196 23 -220 95 -291 67 -65 120 -78 326 -78 166 0 219 6 340 41 87 25 248 96 273 121 7 7 19 13 25 13 7 0 27 14 46 30 18 17 38 30 43 30 15 0 225 216 233 239 3 11 11 21 16 21 5 0 9 4 9 9 0 6 13 29 29 53 16 24 32 53 35 66 4 12 12 22 17 22 5 0 9 7 9 15 0 15 21 68 46 117 8 14 14 36 14 48 0 12 5 31 11 42 19 35 31 134 36 297 3 102 1 157 -6 164 -6 6 -11 30 -11 52 0 31 -8 53 -30 83 -16 23 -30 46 -30 50 0 5 -10 14 -22 20 -32 17 -62 36 -68 44 -3 4 -55 12 -115 17 -61 6 -124 13 -141 16 -17 3 -32 3 -35 1z m251 -132 c40 -20 47 -27 77 -70 48 -67 35 -471 -17 -566 -6 -10 -10 -23 -10 -28 0 -12 -33 -91 -54
                -130 -8 -14 -22 -41 -33 -60 -10 -19 -20 -37 -23 -40 -3 -3 -19 -25 -35 -49
                -40 -59 -221 -241 -240 -241 -2 0 -23 -13 -47 -29 -52 -35 -157 -91 -170 -91
                -6 0 -24 -6 -41 -14 -74 -33 -251 -64 -366 -65 -90 -1 -234 20 -244 36 -4 7
                -13 13 -20 13 -7 0 -24 19 -39 43 -24 37 -28 56 -33 157 -10 192 17 359 81
                507 8 17 14 36 14 41 0 6 3 12 8 14 4 2 16 21 27 43 19 39 49 86 70 111 6 7
                21 27 35 45 46 61 181 189 199 189 6 0 14 6 18 13 10 16 27 26 146 87 54 27
                106 50 116 50 9 0 21 4 27 10 5 5 34 15 64 21 30 6 73 15 95 20 22 4 112 6
                200 4 128 -3 167 -7 195 -21z"/>
                <path d="M2538 3733 c-32 -8 -34 -85 -2 -97 18 -7 18 -30 -1 -46 -11 -9 -21
                -6 -50 16 -32 24 -38 26 -60 14 -31 -17 -33 -59 -5 -85 24 -22 25 -33 4 -56
                -15 -17 -17 -17 -39 7 -26 28 -72 32 -91 7 -20 -26 -17 -39 15 -72 27 -28 28
                -31 12 -45 -23 -21 -34 -20 -56 4 -22 25 -63 26 -81 3 -20 -27 -17 -44 13 -75
                l27 -28 -20 -21 -20 -20 -28 26 c-22 20 -35 25 -55 20 -31 -8 -28 -4 -36 -37
                -6 -25 2 -37 84 -118 50 -49 99 -90 109 -90 24 0 52 31 52 56 0 10 -12 30 -26
                43 l-25 24 20 21 21 20 23 -22 c26 -24 66 -29 85 -10 19 19 14 53 -13 78 -23
                22 -24 25 -8 42 17 19 43 24 43 8 0 -5 14 -17 32 -26 31 -16 32 -16 55 10 29
                34 29 37 -2 70 -30 32 -30 34 -8 58 16 18 17 18 45 -9 24 -23 32 -25 56 -17
                37 13 42 57 11 90 -21 23 -22 25 -5 43 18 20 18 20 44 -5 34 -30 67 -31 87 0
                22 32 12 50 -71 133 -72 73 -104 93 -136 86z"/>
                <path d="M3332 2258 c-5 -7 -13 -48 -17 -91 -6 -73 -8 -77 -33 -83 -52 -11
                -53 -13 -50 -51 3 -33 7 -38 31 -41 l27 -3 0 -253 c0 -280 5 -307 60 -346 40
                -29 115 -32 153 -6 21 14 27 26 27 53 0 34 -1 35 -31 29 -17 -3 -39 -2 -48 4
                -36 19 -41 57 -39 290 l3 225 58 3 57 3 0 44 0 45 -44 0 c-75 0 -76 1 -76 101
                l0 89 -34 0 c-18 0 -38 -6 -44 -12z"/>
                <path d="M882 2234 c-43 -22 -76 -66 -97 -130 -14 -44 -16 -90 -13 -315 l3
                -264 28 -50 c32 -57 54 -80 88 -90 39 -12 49 -25 49 -67 0 -76 55 -128 134
                -128 55 0 86 20 86 58 0 30 -2 32 -35 32 -25 0 -44 8 -60 25 -35 34 -32 63 8
                80 66 28 104 89 117 188 12 92 12 391 0 482 -10 82 -23 109 -70 156 -32 33
                -37 34 -119 37 -65 2 -94 -2 -119 -14z m152 -97 c20 -20 25 -38 31 -118 4 -52
                5 -184 3 -294 -3 -173 -5 -204 -21 -227 -22 -32 -55 -41 -95 -27 -42 14 -44
                34 -40 370 2 230 6 278 18 291 34 34 73 36 104 5z"/>
                <path d="M1540 2080 c0 -5 -9 -10 -20 -10 -11 0 -33 -14 -50 -31 -30 -32 -35
                -31 -42 16 -3 16 -12 21 -51 23 l-47 3 0 -355 0 -356 60 0 60 0 0 288 c0 315
                -2 301 60 328 31 13 56 8 66 -14 5 -9 11 -147 14 -307 l5 -290 39 -3 c22 -2
                50 -1 63 3 l25 6 -4 302 c-4 313 -6 326 -48 369 -30 29 -130 51 -130 28z"/>
                <path d="M1970 2080 c-8 -5 -23 -11 -32 -14 -24 -7 -78 -85 -78 -112 0 -13 -4
                -26 -10 -29 -6 -4 -10 -77 -10 -185 0 -141 4 -191 17 -235 9 -30 21 -55 25
                -55 4 0 8 -6 8 -13 0 -26 89 -77 135 -77 52 0 145 50 145 77 0 7 4 13 8 13 5
                0 16 24 25 53 25 78 24 391 0 457 -9 25 -20 47 -23 50 -4 3 -9 13 -13 22 -15
                41 -151 75 -197 48z m112 -130 c15 -29 18 -63 18 -215 0 -220 -9 -258 -63
                -263 -33 -3 -37 0 -56 39 -19 38 -21 62 -21 220 0 108 4 180 10 184 6 3 10 15
                10 25 0 28 29 51 59 48 18 -2 31 -13 43 -38z"/>
                <path d="M2905 2080 c-3 -5 -15 -10 -26 -10 -23 0 -69 -28 -69 -42 0 -5 -7
                -16 -15 -24 -10 -11 -15 -36 -15 -80 l0 -64 50 0 50 0 0 43 c0 23 6 50 14 59
                15 21 55 36 79 30 25 -5 47 -66 47 -131 l0 -56 -75 -35 c-41 -19 -75 -38 -75
                -42 0 -5 -6 -8 -13 -8 -20 0 -65 -51 -72 -83 -4 -15 -11 -30 -16 -33 -5 -3 -9
                -31 -9 -63 0 -78 28 -134 80 -161 52 -26 68 -25 133 9 l55 29 11 -24 c8 -18
                18 -24 43 -24 62 0 60 -11 56 311 -5 344 -6 347 -85 384 -53 26 -136 34 -148
                15z m113 -475 c1 -55 -2 -106 -7 -113 -4 -7 -25 -17 -46 -22 -33 -7 -40 -5
                -61 17 -48 52 -20 153 56 205 48 33 55 22 58 -87z"/>
                <path d="M3725 2069 c-44 -21 -66 -45 -93 -99 -14 -30 -17 -66 -17 -245 0
                -197 1 -213 22 -255 32 -64 42 -74 95 -95 55 -20 98 -17 162 14 52 26 73 61
                77 131 l3 55 -47 3 c-42 3 -47 1 -47 -17 0 -11 -7 -36 -17 -55 -20 -44 -56
                -55 -92 -28 -31 23 -43 73 -39 162 l3 65 116 3 116 3 9 42 c11 60 9 165 -4
                212 -30 103 -148 153 -247 104z m113 -88 c17 -10 37 -138 28 -174 -6 -25 -10
                -27 -59 -27 -77 0 -81 5 -75 92 3 53 10 80 24 96 19 22 58 29 82 13z"/>
                <path d="M2294 2066 c-3 -8 -3 -19 0 -24 3 -5 12 -42 21 -83 9 -41 23 -103 31
                -139 8 -36 19 -86 24 -113 5 -26 13 -62 18 -80 16 -52 42 -171 42 -189 0 -9 5
                -29 12 -43 10 -22 17 -25 59 -25 56 0 63 8 74 90 4 30 11 60 15 65 4 6 11 36
                14 67 4 32 11 60 16 63 4 3 11 33 15 67 4 35 10 68 14 73 6 11 24 89 43 190 6
                33 16 63 21 66 21 15 -7 29 -57 29 -49 0 -54 -2 -64 -27 -6 -16 -13 -57 -17
                -92 -3 -35 -10 -71 -15 -80 -8 -16 -26 -127 -39 -238 -9 -88 -31 -107 -31 -27
                -1 32 -5 79 -10 104 -6 25 -17 83 -25 130 -8 47 -20 117 -27 155 l-13 70 -58
                3 c-44 2 -59 -1 -63 -12z"/>
                </g>
                </svg>
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="170.000000pt" height="170.000000pt" viewBox="0 0 474.000000 526.000000" class="is-hidden-lg-xl">
                <g transform="translate(0.000000,526.000000) scale(0.100000,-0.100000)"
                fill="#000000" stroke="none">
                <path d="M2759 4216 c-2 -2 -56 -9 -119 -16 -63 -7 -119 -16 -125 -20 -5 -4 -29 -11 -52 -15 -24 -4 -45 -10 -48 -15 -3 -4 -21 -11 -40 -14 -62 -12 -225 -103 -325 -181 -32 -25 -159 -152 -185 -185 -173 -218 -271 - 30 -251 -796 1 -196 23 -220 95 -291 67 -65 120 -78 326 -78 166 0 219 6 340 41 87 25 248 96 273 121 7 7 19 13 25 13 7 0 27 14 46 30 18 17 38 30 43 30 15 0 225 216 233 239 3 11 11 21 16 21 5 0 9 4 9 9 0 6 13 29 29 53 16 24 32 53 35 66 4 12 12 22 17 22 5 0 9 7 9 15 0 15 21 68 46 117 8 14 14 36 14 48 0 12 5 31 11 42 19 35 31 134 36 297 3 102 1 157 -6 164 -6 6 -11 30 -11 52 0 31 -8 53 -30 83 -16 23 -30 46 -30 50 0 5 -10 14 -22 20 -32 17 -62 36 -68 44 -3 4 -55 12 -115 17 -61 6 -124 13 -141 16 -17 3 -32 3 -35 1z m251 -132 c40 -20 47 -27 77 -70 48 -67 35 -471 -17 -566 -6 -10 -10 -23 -10 -28 0 -12 -33 -91 -54
                -130 -8 -14 -22 -41 -33 -60 -10 -19 -20 -37 -23 -40 -3 -3 -19 -25 -35 -49
                -40 -59 -221 -241 -240 -241 -2 0 -23 -13 -47 -29 -52 -35 -157 -91 -170 -91
                -6 0 -24 -6 -41 -14 -74 -33 -251 -64 -366 -65 -90 -1 -234 20 -244 36 -4 7
                -13 13 -20 13 -7 0 -24 19 -39 43 -24 37 -28 56 -33 157 -10 192 17 359 81
                507 8 17 14 36 14 41 0 6 3 12 8 14 4 2 16 21 27 43 19 39 49 86 70 111 6 7
                21 27 35 45 46 61 181 189 199 189 6 0 14 6 18 13 10 16 27 26 146 87 54 27
                106 50 116 50 9 0 21 4 27 10 5 5 34 15 64 21 30 6 73 15 95 20 22 4 112 6
                200 4 128 -3 167 -7 195 -21z"/>
                <path d="M2538 3733 c-32 -8 -34 -85 -2 -97 18 -7 18 -30 -1 -46 -11 -9 -21
                -6 -50 16 -32 24 -38 26 -60 14 -31 -17 -33 -59 -5 -85 24 -22 25 -33 4 -56
                -15 -17 -17 -17 -39 7 -26 28 -72 32 -91 7 -20 -26 -17 -39 15 -72 27 -28 28
                -31 12 -45 -23 -21 -34 -20 -56 4 -22 25 -63 26 -81 3 -20 -27 -17 -44 13 -75
                l27 -28 -20 -21 -20 -20 -28 26 c-22 20 -35 25 -55 20 -31 -8 -28 -4 -36 -37
                -6 -25 2 -37 84 -118 50 -49 99 -90 109 -90 24 0 52 31 52 56 0 10 -12 30 -26
                43 l-25 24 20 21 21 20 23 -22 c26 -24 66 -29 85 -10 19 19 14 53 -13 78 -23
                22 -24 25 -8 42 17 19 43 24 43 8 0 -5 14 -17 32 -26 31 -16 32 -16 55 10 29
                34 29 37 -2 70 -30 32 -30 34 -8 58 16 18 17 18 45 -9 24 -23 32 -25 56 -17
                37 13 42 57 11 90 -21 23 -22 25 -5 43 18 20 18 20 44 -5 34 -30 67 -31 87 0
                22 32 12 50 -71 133 -72 73 -104 93 -136 86z"/>
                <path d="M3332 2258 c-5 -7 -13 -48 -17 -91 -6 -73 -8 -77 -33 -83 -52 -11
                -53 -13 -50 -51 3 -33 7 -38 31 -41 l27 -3 0 -253 c0 -280 5 -307 60 -346 40
                -29 115 -32 153 -6 21 14 27 26 27 53 0 34 -1 35 -31 29 -17 -3 -39 -2 -48 4
                -36 19 -41 57 -39 290 l3 225 58 3 57 3 0 44 0 45 -44 0 c-75 0 -76 1 -76 101
                l0 89 -34 0 c-18 0 -38 -6 -44 -12z"/>
                <path d="M882 2234 c-43 -22 -76 -66 -97 -130 -14 -44 -16 -90 -13 -315 l3
                -264 28 -50 c32 -57 54 -80 88 -90 39 -12 49 -25 49 -67 0 -76 55 -128 134
                -128 55 0 86 20 86 58 0 30 -2 32 -35 32 -25 0 -44 8 -60 25 -35 34 -32 63 8
                80 66 28 104 89 117 188 12 92 12 391 0 482 -10 82 -23 109 -70 156 -32 33
                -37 34 -119 37 -65 2 -94 -2 -119 -14z m152 -97 c20 -20 25 -38 31 -118 4 -52
                5 -184 3 -294 -3 -173 -5 -204 -21 -227 -22 -32 -55 -41 -95 -27 -42 14 -44
                34 -40 370 2 230 6 278 18 291 34 34 73 36 104 5z"/>
                <path d="M1540 2080 c0 -5 -9 -10 -20 -10 -11 0 -33 -14 -50 -31 -30 -32 -35
                -31 -42 16 -3 16 -12 21 -51 23 l-47 3 0 -355 0 -356 60 0 60 0 0 288 c0 315
                -2 301 60 328 31 13 56 8 66 -14 5 -9 11 -147 14 -307 l5 -290 39 -3 c22 -2
                50 -1 63 3 l25 6 -4 302 c-4 313 -6 326 -48 369 -30 29 -130 51 -130 28z"/>
                <path d="M1970 2080 c-8 -5 -23 -11 -32 -14 -24 -7 -78 -85 -78 -112 0 -13 -4
                -26 -10 -29 -6 -4 -10 -77 -10 -185 0 -141 4 -191 17 -235 9 -30 21 -55 25
                -55 4 0 8 -6 8 -13 0 -26 89 -77 135 -77 52 0 145 50 145 77 0 7 4 13 8 13 5
                0 16 24 25 53 25 78 24 391 0 457 -9 25 -20 47 -23 50 -4 3 -9 13 -13 22 -15
                41 -151 75 -197 48z m112 -130 c15 -29 18 -63 18 -215 0 -220 -9 -258 -63
                -263 -33 -3 -37 0 -56 39 -19 38 -21 62 -21 220 0 108 4 180 10 184 6 3 10 15
                10 25 0 28 29 51 59 48 18 -2 31 -13 43 -38z"/>
                <path d="M2905 2080 c-3 -5 -15 -10 -26 -10 -23 0 -69 -28 -69 -42 0 -5 -7
                -16 -15 -24 -10 -11 -15 -36 -15 -80 l0 -64 50 0 50 0 0 43 c0 23 6 50 14 59
                15 21 55 36 79 30 25 -5 47 -66 47 -131 l0 -56 -75 -35 c-41 -19 -75 -38 -75
                -42 0 -5 -6 -8 -13 -8 -20 0 -65 -51 -72 -83 -4 -15 -11 -30 -16 -33 -5 -3 -9
                -31 -9 -63 0 -78 28 -134 80 -161 52 -26 68 -25 133 9 l55 29 11 -24 c8 -18
                18 -24 43 -24 62 0 60 -11 56 311 -5 344 -6 347 -85 384 -53 26 -136 34 -148
                15z m113 -475 c1 -55 -2 -106 -7 -113 -4 -7 -25 -17 -46 -22 -33 -7 -40 -5
                -61 17 -48 52 -20 153 56 205 48 33 55 22 58 -87z"/>
                <path d="M3725 2069 c-44 -21 -66 -45 -93 -99 -14 -30 -17 -66 -17 -245 0
                -197 1 -213 22 -255 32 -64 42 -74 95 -95 55 -20 98 -17 162 14 52 26 73 61
                77 131 l3 55 -47 3 c-42 3 -47 1 -47 -17 0 -11 -7 -36 -17 -55 -20 -44 -56
                -55 -92 -28 -31 23 -43 73 -39 162 l3 65 116 3 116 3 9 42 c11 60 9 165 -4
                212 -30 103 -148 153 -247 104z m113 -88 c17 -10 37 -138 28 -174 -6 -25 -10
                -27 -59 -27 -77 0 -81 5 -75 92 3 53 10 80 24 96 19 22 58 29 82 13z"/>
                <path d="M2294 2066 c-3 -8 -3 -19 0 -24 3 -5 12 -42 21 -83 9 -41 23 -103 31
                -139 8 -36 19 -86 24 -113 5 -26 13 -62 18 -80 16 -52 42 -171 42 -189 0 -9 5
                -29 12 -43 10 -22 17 -25 59 -25 56 0 63 8 74 90 4 30 11 60 15 65 4 6 11 36
                14 67 4 32 11 60 16 63 4 3 11 33 15 67 4 35 10 68 14 73 6 11 24 89 43 190 6
                33 16 63 21 66 21 15 -7 29 -57 29 -49 0 -54 -2 -64 -27 -6 -16 -13 -57 -17
                -92 -3 -35 -10 -71 -15 -80 -8 -16 -26 -127 -39 -238 -9 -88 -31 -107 -31 -27
                -1 32 -5 79 -10 104 -6 25 -17 83 -25 130 -8 47 -20 117 -27 155 l-13 70 -58
                3 c-44 2 -59 -1 -63 -12z"/>
                </g>
                </svg>
            {% else %}
                <img {{block('attributes')}}>
            {% endif %}
        </span>
    </a>
{% endblock %}
